<footer class="bg-dark text-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/deals">Deals</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-4 mb-4">
                <h5>Contact Us</h5>
                <p>123 Main Street<br>City, State 12345<br>Email: kajalthakyal22@gmail.com<br>Phone: 437-663-2323</p>
            </div>
            <div class="col-lg-4 mb-4">
                <h5>Follow Us</h5>
                <ul class="list-unstyled">
                    <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                    <li><a href="https://www.instagram.com/iminvincible99/"><i class="fab fa-instagram"></i> Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center py-3" style="background-color: rgba(0,0,0,0.2);">
        <p>&copy; 2024 Kajal's Collection. All Rights Reserved.</p>
    </div
