<section class="best-deal-section">
    <div class="container py-5">
        <div class="section-header mb-5">
            <h1 class="mb-3">BEST DEAL​</h1>
            <h2>Consectetur adipiscing elit</h2>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="card product-card">
                    <img src="img/banner/9b-1.jpg" class="card-img-top position-relative" alt="Bst deal Free Product Landing Page" style="height: 18rem; ">
                    <div class="offer-badge">
                        <span class="badge rounded-pill bg-warning">25% Off</span>
                    </div>

                    <div class="card-body">
                      <h5 class="card-title mb-3">Silver Color T-Shirt</h5>
                      <p class="card-text mb-3">$160 <del>$190</del></p>
                      <a href="!#" class="btn text-white rounded-0">BUY NOW THIS</a>
                    </div>
                  </div>
            </div>

            <div class="col-md-3">
                <div class="card product-card">
                    <img src="img/banner/card-image6a.jpg" class="card-img-top position-relative" alt="Product Landing Page" style="height: 18rem; ">
                    <div class="offer-badge">
                        <span class="badge rounded-pill bg-warning">25% Off</span>
                    </div>

                    <div class="card-body">
                      <h5 class="card-title mb-3">Silver Color T-Shirt</h5>
                      <p class="card-text mb-3">$160 <del>$190</del></p>
                      <a href="!#" class="btn text-white rounded-0">BUY NOW THIS</a>
                    </div>
                  </div>
            </div>

            <div class="col-md-3">
                <div class="card product-card">
                    <img src="img/banner/card-image7.jpg" class="card-img-top position-relative" alt="Marketing Landing page Template free" style="height: 18rem; ">
                    <div class="offer-badge">
                        <span class="badge rounded-pill bg-warning">25% Off</span>
                    </div>

                    <div class="card-body">
                      <h5 class="card-title mb-3">Silver Color T-Shirt</h5>
                      <p class="card-text mb-3">$160 <del>$190</del></p>
                      <a href="!#" class="btn text-white rounded-0">BUY NOW THIS</a>
                    </div>
                  </div>
            </div>

            <div class="col-md-3">
                <div class="card product-card">
                    <img src="img/banner/chair3.jpg" class="card-img-top position-relative" alt="Markeing Template For Chair Product" style="height: 18rem; ">
                    <div class="offer-badge">
                        <span class="badge rounded-pill bg-warning">25% Off</span>
                    </div>

                    <div class="card-body">
                      <h5 class="card-title mb-3">Silver Color T-Shirt</h5>
                      <p class="card-text mb-3">$160 <del>$190</del></p>
                      <a href="!#" class="btn text-white rounded-0">BUY NOW THIS</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>
