<section class="product-item-group">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="product-item mb-3">
                    <figure class="product-item-details">
                        <img src="img/banner/cat-man.jpg" class="prodict-item-image img-fluid" alt="Mans Colleciton Marketig Images">
                        <div class="image-overlay"></div>
                        <figcaption class="product-item-caption">
                            <h1>MEN'S<br>
                                <span>COLLECTION</span>
                            </h1>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="col-md-6 ">
                <div class="product-item mb-3">
                    <figure class="product-item-details">
                        <img src="img/banner/cat-women.jpg" class="prodict-item-image img-fluid" alt="Women Collection Free Marketing Image">
                        <div class="image-overlay"></div>
                        <figcaption class="product-item-caption">
                            <h1>WOMEN'S<br>
                                <span>COLLECTION</span>
                            </h1>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <div class="product-item mb-3">
                    <figure class="product-item-details">
                        <img src="img/banner/cat-style.jpg" class="prodict-item-image img-fluid" alt="Style Collection Image for Landing page">
                        <div class="image-overlay"></div>
                        <figcaption class="product-item-caption">
                            <h1>STYLE<br>
                                <span>COLLECTION</span>
                            </h1>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="col-md-6 ">
                <div class="product-item mb-3">
                    <figure class="product-item-details">
                        <img src="img/banner/cat-shoe.jpg" class="prodict-item-image img-fluid" alt="Shoes Collection Image">
                        <div class="image-overlay"></div>
                        <figcaption class="product-item-caption">
                            <h1>SHOES<br>
                                <span>COLLECTION</span>
                            </h1>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
